<div class="visible-lg">
  <h1>menu desktop</h1>
</div>

<div class="hidden-lg">
  <div class="bloque-opacity"></div>
  <div class="menupersonas">


    <!-- #region barra roja-->
    <div class="barraroja">
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <div class="izquierda">
              <a href="#" class="desplegar">
                <i class="fa fa-bars active"></i>
                <i class="fa fa-remove" style="display:none;"></i>
              </a>
              <a href="#" class="menu-logo">
                <img id="menu-logo" src="http://www.claro.com.pe/recursos_contenido/personas/d848845f-eb56-4403-bc7a-b8dcfa4ed521-images252Flogo-claro-blanco.png">
              </a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="derecha">
              <a href="#">
                <i class="fa fa-search"></i>
              </a>
              <a href="#">
                <i class="fa fa-user"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- #endregion -->


    <!-- #region primer nivel menu-->

    <div class="contenido-menu">
      <a href="#" class="ir-izquierda" menu="servicios">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Servicios</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="tienda">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Tienda</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="ayuda">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Ayuda</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="principal">
        <div class="boton-segundo primero">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Personas</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- #endregion -->


    <!-- #region segundo nivel menu-->

    <div class="segundo-nivel">

      <div class="segundo-menu servicios">
        <a href="#" class="regresar-derecha" menu="servicios">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Servicios</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="movil">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Movil</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="hogar">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Hogar</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="exclusivos">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Exclusivos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="claroclub">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Beneficios Claro Club</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="segundo-menu tienda">
        <a href="#" class="regresar-derecha" menu="tienda">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Tienda</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="equipospostpago">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Equipos Postpago</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="equiposprepago">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Equipos Prepago</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="recargaonline">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Recarga online</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="accesorios">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Accesorios</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="segundo-menu ayuda">
        <a href="#" class="regresar-derecha" menu="ayuda">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Ayuda</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="asistenciamovil">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Asistencia móvil</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="asistenciafija">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Asistencia fija</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="comunidadclaro">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Comunidad Claro</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="contactanos">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Contáctanos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="segundo-menu principal">
        <a href="#" class="regresar-derecha" menu="principal">
          <div class="boton-segundo primero">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto">
                  <span>Personas</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/negocios">
          <div class="boton-segundo segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Negocios</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/empresas">
          <div class="boton-segundo tercero">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Empresas</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- #endregion -->


    <!-- #region tercer nivel-->
    <div class="tercer-nivel">

      <!-- #region servicios-->
      <div class="tercer-menu movil">
        <a href="#" class="regresar-tercero" menu="servicios">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Movil</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/movil/postpago/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Postpago</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/movil/prepago/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Prepago</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/movil/internet-movil/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Internet móvil</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://recarga.claro.com.pe">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Recarga megas</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://roaming.claro.com.pe">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Roaming</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/portabilidad/?tab=portabilidadmovil">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Portabilidad móvil</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu hogar">
        <a href="#" class="regresar-tercero" menu="servicios">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Hogar</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/hogar/internet/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Internet fijo</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/hogar/telefonia/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Telefonía fija</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/hogar/tv/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Televisión</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/paquetes-hogar/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Paquetes 2play o 3play</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://cobertura.claro.com.pe/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Cobertura fija</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/portabilidad/?tab=portabilidadfija">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Portabilidad fija</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu exclusivos">
        <a href="#" class="regresar-tercero" menu="servicios">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Exclusivos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/exclusivos/claro-musica/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>App Claro Música</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/exclusivos/claro-video/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>App Claro Video</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/exclusivos/mi-claro/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>App Mi Claro</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/exclusivos/mi-internet-claro/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>App Mi Internet Claro</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu claroclub">
        <a href="#" class="regresar-tercero" menu="servicios">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Beneficios Claro Club</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/claro-club/que-es/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>¿Que es Claro Club?</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#http://cuponera.claro.com.pe/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Cuponera de descuentos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/claro-club/puntos-claro-club/catalogo-de-premios/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Catalogo de premios</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/claro-club/latam/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Alianza LATAM Pass</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- #endregion -->

      <!-- #region tienda-->
      <div class="tercer-menu equipospostpago">
        <a href="#" class="regresar-tercero" menu="tienda">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Equipos Postpago</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://catalogo.claro.com.pe/catalogo/personas/portabilidad/acuerdo-18/celulares/precios-online/todos">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Ofertas portabilidad</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://catalogo.claro.com.pe/catalogo/personas/renovacion/acuerdo-18/celulares/smartphones/todos">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Renovación</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://catalogo.claro.com.pe/catalogo/personas/linea-nueva/acuerdo-18/celulares/smartphones/todos">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Línea nueva</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://catalogo.claro.com.pe/catalogo/personas/portabilidad/cuotas-18/celulares/smartphones/todos">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Equipos en cuotas</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu equiposprepago">
        <a href="#" class="regresar-tercero" menu="tienda">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Equipos Prepago</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="https://tienda.claro.com.pe/tienda/es/claro/celulares-tiendaclaro-celulares-claro-v/todos-tiendaclaro-celulares-todos-v--24/preciosonline-tiendaclaro-celulares-todos-nuevos-v--24">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Precios exclusivos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#https://tienda.claro.com.pe/tienda/es/claro/celulares-tiendaclaro-celulares-claro-v/todos-tiendaclaro-celulares-todos-v--24/smartphones-tiendaclaro-celulares-todos-smartphones-v--24">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Smartphone</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="https://tienda.claro.com.pe/tienda/es/claro/celulares-tiendaclaro-celulares-claro-v/todos-tiendaclaro-celulares-todos-v--24/econ%C3%B3micos-tiendaclaro-celulares-todos-economicos-v--24">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Económicos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu recargaonline">
        <a href="#" class="regresar-tercero" menu="tienda">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Recarga online</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://catalogo.claro.com.pe/recargas/recargas-online-claro.php">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Recarga soles</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://recarga.claro.com.pe/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Recarga megas</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu accesorios">
        <a href="#" class="regresar-tercero" menu="tienda">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Accesorios</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="https://tienda.claro.com.pe/tienda/es/claro/celulares-tiendaclaro-accesorios-v/todos-tiendaclaro-accesorios-todos-v--24/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Audífonos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="https://tienda.claro.com.pe/tienda/es/claro/celulares-tiendaclaro-accesorios-v/todos-tiendaclaro-accesorios-todos-v--24/accesorios-m%C3%B3viles-tiendaclaro-accesorios-todos-moviles-v--24">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Parlantes</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="https://tienda.claro.com.pe/tienda/es/claro/celulares-tiendaclaro-accesorios-v/todos-tiendaclaro-accesorios-todos-v--24/accesorios-m%C3%B3viles-tiendaclaro-accesorios-todos-moviles-v--24">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Smartwatch</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="https://tienda.claro.com.pe/tienda/es/claro/celulares-tiendaclaro-accesorios-v/todos-tiendaclaro-accesorios-todos-v--24/accesorios-fijos-tiendaclaro-accesorios-todos-fijos-v--24">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Controles remotos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- #endregion -->

      <!-- #region ayuda-->

      <div class="tercer-menu asistenciamovil">
        <a href="#" class="regresar-tercero" menu="ayuda">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Asistencia móvil</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://asistencia.claro.com.pe/servicios-moviles/lo-que-debes-saber/como-consulto-mi-saldo">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Consulta de saldo</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://asistencia.claro.com.pe/servicios-moviles/como-evitar-el-consumo-indeseado-de-internet-en-mi-celular">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Consumo de megas</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://asistencia.claro.com.pe/servicios-moviles/postpago/claro-max/que-es-el-limite-de-consumo">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Limite de consumo</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/desbloquea-tu-equipo/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Desbloquea tu equipo</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/consulta-de-lineas/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Consulta de líneas</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://asistencia.claro.com.pe/guias/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Guía de equipos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu asistenciafija">
        <a href="#" class="regresar-tercero" menu="ayuda">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Asistencia fija</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://asistencia.claro.com.pe/servicios-fijos/internet-fijo/como-funciona-y-como-instalo-el-antivirus-de-mi-internet-fijo">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Antivirus</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://asistencia.claro.com.pe/facturacion/pago-de-servicios">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Pago de servicios</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://asistencia.claro.com.pe/servicios-fijos/tv/como-creo-una-cuenta-de-control-parental">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Control parental</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://asistencia.claro.com.pe/facturacion/aprende-mas-sobre-tu-recibo/que-es-el-servicio-de-recibo-por-email">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Recibo por email</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu comunidadclaro">
        <a href="http://comunidad.claro.com.pe/t5/Movil/ct-p/MOVIL" class="regresar-tercero" menu="ayuda">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Comunidad Claro</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://comunidad.claro.com.pe/t5/Movil/ct-p/MOVIL">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Móvil</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://comunidad.claro.com.pe/t5/Hogar/ct-p/hogar">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Hogar</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://comunidad.claro.com.pe/t5/Recibos/ct-p/Recibos-Facturas">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Recibos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://comunidad.claro.com.pe/t5/Auto-Atencion/ct-p/Canales">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Auto-atención</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu contactanos">
        <a href="#" class="regresar-tercero" menu="ayuda">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Contáctanos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/contactanos/?tab=chat">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Chat en línea</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/contactanos/?tab=ubicanos">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Centros de atención</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/contactanos/?tab=telefonos">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Teléfonos de contacto</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/contactanos/?tab=cajeros">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">

                </div>
                <div class="col-xs-8 texto">
                  <span>Cajeros automáticos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- #endregion -->

    </div>
    <!-- #endregion -->


  </div>
</div>