menupersonas{
    z-index: 10;
}

/*barra roja*******************************************************************************************************************/
.barraroja {
    height: 60px;
    background-color: #da272c;
    color: white;
    font-size: 25px;
}

.barraroja .container {
    padding-top: 15px;
}

.barraroja a {
    color: white;
}

.izquierda {
    text-align: left;
}

.derecha {
    text-align: right;
}

.barraroja .derecha>a {
    margin-right: 5px;
}

a.menu-logo {
    -ms-display: flex;
    display: flex;
    align-items: center;
}

#menu-logo {
    height: 25px;
}

a.desplegar {
    display: block;
    width: 25px;
    margin-right: 15px;
    float: left;
}


/*menu que aparece*******************************************************************************************************************/

.contenido-menu {
    position: absolute;
    width: 100%;
    background: #da272c;
    border-top: white 1px solid;
    color: white;
    visibility: hidden;
}

@keyframes toggleOn {
    0% {
        top: 100%;
    }
    100% {
        top: 60px;
    }
}

@keyframes toggleOff {
    from {
        visibility: visible;
        opacity: 1;
        top: 60px;
        ;
    }
    to {
        opacity: 0;
        top: 100%;
    }
}

.contenido-menu.on {
    animation: toggleOn 0.5s ease-out;
    visibility: visible;
}

.contenido-menu.off {
    animation: toggleOff 0.5s ease-out;
    opacity: 0;
}


/*menu botones primer nivel*******************************************************************************************************************/

.boton-primer {
    color: white;
    height: 151px;
    border-bottom: 1px solid white;
}

.boton-primer .row {
    height: 151px;
    -ms-display: flex;
    display: flex;
    /* alineacion vertical */
    align-items: center;
    /* alineacion horizontal */
    justify-content: center;
}

.boton-primer .texto {
    text-align: center;
    font-size: 24px;
}

.boton-primer i {
    text-align: center;
    font-size: 15px;
}


/*menu botones segundo nivel*******************************************************************************************************************/

.segundo-menu {
    position: absolute;
    width: 100%;
    background: #da272c;
    border-top: white 1px solid;
    color: white;
    top: 60px;
    visibility: hidden;
}

.boton-segundo {
    color: white;
    height: 57px;
    border-bottom: 1px solid #666666;
    background: #ffffff;
    color: #000000;
}

.boton-segundo .row {
    height: 57px;
    -ms-display: flex;
    display: flex;
    /* alineacion vertical */
    align-items: center;
}

.boton-segundo .texto {
    text-align: center;
    font-size: 16px;
    color:#68b8c8;
}
.boton-segundo .texto.principal {
    text-align: center;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.boton-segundo i {
    text-align: center;
    font-size: 15px;
}


/*Efecto ocultar menu principal al seleccionar*******************************************************************************************************************/

@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        top: 59px;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        top: 60px;
        transform: translate3d(0, 0, 0);
    }
}

.contenido-menu.left {
    animation: slideOutLeft 0.5s ease-out;
    transform: translate3d(-100%, 0, 0);
}

.segundo-menu.left {
    animation: slideInRight 0.5s ease-out;
    visibility: visible;
}


/*Efecto regresar menu principal*******************************************************************************************************************/

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutRight {
    from {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(100%, 0, 0);
        visibility: hidden;
    }
}

.contenido-menu.right {
    animation: slideInLeft 0.5s ease-out;
    visibility: visible;
}

.segundo-menu.right {
    animation: slideOutRight 0.5s ease-out;
}

/*opacidad de la pagina*******************************************************************************************************************/

.bloque-opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -1;
    visibility: hidden;
    opacity: 0.6;
}

@keyframes on-opacity {
    from {
        opacity: 0;
        visibility: visible;
    }
    to {
        opacity: 0.6;
    }
}

.bloque-opacity.on-opacity{
    animation: on-opacity 0.5s ease-out;
    visibility: visible;
}

/*Tercer nivel*******************************************************************************************************************/

.tercer-menu {
    position: absolute;
    width: 100%;
    background: #da272c;
    border-top: white 1px solid;
    color: white;
    top: 60px;
    visibility: hidden;
}

.boton-tercer {
    color: white;
    height: 57px;
    border-bottom: 1px solid #666666;
    background: #ffffff;
    color: #000000;
}

.boton-tercer .row {
    height: 57px;
    -ms-display: flex;
    display: flex;
    /* alineacion vertical */
    align-items: center;
}

.boton-tercer .texto {
    text-align: center;
    font-size: 16px;
    color:#68b8c8;
}
.boton-tercer .texto.principal {
    text-align: center;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.boton-tercer i {
    text-align: center;
    font-size: 15px;
}
