<div class="visible-lg">
  <h1>menu desktop</h1>
</div>
<div class="hidden-lg">
  <div class="bloque-opacity"></div>
  <div class="menupersonas">
    <div class="barraroja">
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <div class="izquierda">
              <a href="#" class="desplegar">
                <i class="fa fa-bars active"></i>
                <i class="fa fa-remove" style="display:none;"></i>
              </a>
              <a href="#" class="menu-logo">
                <img id="menu-logo" src="http://www.claro.com.pe/recursos_contenido/personas/d848845f-eb56-4403-bc7a-b8dcfa4ed521-images252Flogo-claro-blanco.png">
              </a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="derecha">
              <a href="#">
                <i class="fa fa-search"></i>
              </a>
              <a href="#">
                <i class="fa fa-user"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contenido-menu">
      <a href="#" class="ir-izquierda" menu="servicios">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Servicios</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="tienda">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Tienda</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="ayuda">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Ayuda</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="boton-segundo">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Personas</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>




    
    <div class="segundo-nivel">
      <div class="segundo-menu servicios">
        <a href="#" class="regresar-derecha" menu="servicios">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Servicios</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" >
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  
                </div>
                <div class="col-xs-8 texto">
                  <span>Movil</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" >
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  
                </div>
                <div class="col-xs-8 texto">
                  <span>Hogar</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" >
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  
                </div>
                <div class="col-xs-8 texto">
                  <span>Exclusivos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" >
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  
                </div>
                <div class="col-xs-8 texto">
                  <span>Beneficios Claro Club</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="segundo-menu tienda">
        <a href="#" class="regresar-derecha" menu="servicios">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto">
                  <span>Tienda</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="regresar-derecha" menu="servicios">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto">
                  <span>Tienda</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="regresar-derecha" menu="servicios">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto">
                  <span>Tienda</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="regresar-derecha" menu="servicios">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto">
                  <span>Tienda</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="segundo-menu ayuda">
        <a href="#" class="regresar-derecha" menu="servicios">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto">
                  <span>Ayuda</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>