<div class="visible-lg">
  <h1>menu desktop</h1>
</div>

<div class="hidden-lg">
  <div class="bloque-opacity"></div>
  <div class="menupersonas">


    <!-- #region barra roja-->
    <div class="barraroja">
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <div class="izquierda">
              <a href="#" class="desplegar">
                <i class="fa fa-bars active"></i>
                <i class="fa fa-remove" style="display:none;"></i>
              </a>
              <a href="/empresas" class="menu-logo">
                <img id="menu-logo" src="http://www.claro.com.pe/recursos_contenido/personas/d848845f-eb56-4403-bc7a-b8dcfa4ed521-images252Flogo-claro-blanco.png">
              </a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="derecha">
              <a href="http://asistencia.claro.com.pe/">
                <i class="fa fa-search"></i>
              </a>
              <a href="https://www.miclaro.com.pe/">
                <i class="fa fa-user"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- #endregion -->


    <!-- #region primer nivel menu-->

    <div class="contenido-menu">
      <a href="#" class="ir-izquierda" menu="servicios">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Servicios</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="soluciones">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Soluciones</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="cloud">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Cloud</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="http://mnc.telmexusa.com/" menu="multinacionales">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Multinacionales</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="principal">
        <div class="boton-segundo tercero">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Empresas</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- #endregion -->


    <!-- #region segundo nivel menu-->

    <div class="segundo-nivel">

      <div class="segundo-menu servicios">
        <a href="#" class="regresar-derecha" menu="servicios">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Servicios</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="movil">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Servicios móviles</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="vozfijo">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Servicios voz fijo</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="datosfijo">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Servicios datos fijo</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="segundo-menu soluciones">
        <a href="#" class="regresar-derecha" menu="soluciones">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Soluciones</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="smovil">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Soluciones móviles</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="fijas">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Soluciones fijas</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="segundo-menu cloud">
        <a href="#" class="regresar-derecha" menu="cloud">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Cloud</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="infraestructura">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Infraestructura</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="seguridad">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Seguridad</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/colaboracion/office-365/" menu="colaboracion">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Colaboración</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/presencia-web/presencia-web/" menu="presencia">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Presencia Web</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="segundo-menu principal">
        <a href="#" class="regresar-derecha" menu="principal">
          <div class="boton-segundo tercero">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto">
                  <span>Empresas</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/">
          <div class="boton-segundo primero">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Personas</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/negocios">
          <div class="boton-segundo segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Negocios</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- #endregion -->


    <!-- #region tercer nivel-->
    <div class="tercer-nivel">

      <!-- #region servicios-->
      <div class="tercer-menu movil">
        <a href="#" class="regresar-tercero" menu="servicios">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Servicios móviles</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/movil/telefonia-movil/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Telefonía móvil</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/movil/internet-movil/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Internet móvil</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/movil/recargas/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Recarga</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://roaming.claro.com.pe/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Roaming</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu vozfijo">
        <a href="#" class="regresar-tercero" menu="servicios">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Servicios Voz fijo</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/comunicacion-voz/telefonia-fija-e1-pri/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Telefonía fija E1 PRI</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/comunicacion-voz/telefonia-troncal-sip/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Telefonía troncal SIP</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/comunicacion-voz/telefonia-analogica-corporativa/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Telefonía analógica</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/comunicacion-voz/servicios-0800/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Servicios 0-800</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/comunicacion-voz/servicios-0800/?tab=servicio0-801">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Servicios 0-801</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/comunicacion-voz/servicios-0800/?tab=servicio0-800internacional">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Servicios 0-800 internacional</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu datosfijo">
        <a href="#" class="regresar-tercero" menu="servicios">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Servicios datos fijo</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/red/red-privada-virtual/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Red privada virtual</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/red/red-privada-virtual-internacional/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Red privada virtual internacional</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/red/carrier-ethernet/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Carrier ethernet</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/red/enlaces-satelitales-vsat/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Enlaces satelitales VSAT</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/red/enlaces-satelitales-scpc/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Enlaces satelitales SCPC</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/internet/acceso-dedicado/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Internet corporativo</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/internet/internet-vsat/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Internet VSAT</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- #endregion -->


      <!-- #region soluciones-->
      <div class="tercer-menu smovil">
        <a href="#" class="regresar-tercero" menu="soluciones">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Soluciones móviles</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/e-contact/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Directorio móvil (eContact)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/mensajeria-corporativa/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Mensajeria corporativa</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/localizacion-vehicular/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Localización vehicular (AVL)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/monitoreo-de-personal/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Monitoreo de personal (eTrack)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/esecurity/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Seguridad privada (eSecurity)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/adm-de-dispositivos-moviles/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Administración de dispositivos móviles (MDM)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/e-task/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Gestión de tareas (eTask)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/automatizacion-fuerza-ventas/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Automatización de FFVV (eSales)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/e-calendar/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Control de actividades (eCalendar)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/monitoreo-y-gestion-a-distancia/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Monitoreo y gestión a distancia (M2M)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/soluciones-de-banca-y-finanzas/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Gestión Financiera</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/formularios-dinamicos/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Formularios dinámicos</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu fijas">
        <a href="#" class="regresar-tercero" menu="soluciones">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Soluciones fijas</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/servicios-gestionados/hosted-ippbx/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Hosted IP PBX</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/servicios-gestionados/pbx-gestionada/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>PBX Gestionada</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/red/monitoreo-de-red-avanzado/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Monitoreo de red avanzado</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/servicios-gestionados/optimizacion-virtual/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Optimización virtual</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/servicios-gestionados/gestion-de-aplicaciones/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Gestión de aplicaciones</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/servicios-gestionados/seguridad-administrada/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Seguridad administrada</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/servicios-gestionados/anti-ddos/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Protección Anti DDoS</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/servicios-gestionados/enlace-blindado/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Enlace blindado</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/servicios-gestionados/lan-gestionada/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>LAN gestionada</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/servicios-gestionados/wifi-gestionado/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>WiFi Gestionado</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/servicios-gestionados/carteleria-digital/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Cartelería digital</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- #endregion -->


      <!-- #region cloud-->

      <div class="tercer-menu infraestructura">
        <a href="#" class="regresar-tercero" menu="cloud">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Infraestructura</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/infraestructura/data_center_virtual/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Data center virtual</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/infraestructura/servidores_virtuales/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Servidores virtuales</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/infraestructura/respaldo-servidores/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Respaldo de servidores virtual</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu seguridad">
        <a href="#" class="regresar-tercero" menu="cloud">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Seguridad</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/seguridad/respaldo-en-linea/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Respaldo en línea</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/seguridad/seguridad-negocios/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Seguridad empresas</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- #endregion -->

    </div>
    <!-- #endregion -->


  </div>
</div>