<div class="visible-lg">
  <h1>menu desktop</h1>
</div>

<div class="hidden-lg">
  <div class="bloque-opacity"></div>
  <div class="menupersonas">


    <!-- #region barra roja-->
    <div class="barraroja">
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <div class="izquierda">
              <a href="#" class="desplegar">
                <i class="fa fa-bars active"></i>
                <i class="fa fa-remove" style="display:none;"></i>
              </a>
              <a href="/negocios" class="menu-logo">
                <img id="menu-logo" src="http://www.claro.com.pe/recursos_contenido/personas/d848845f-eb56-4403-bc7a-b8dcfa4ed521-images252Flogo-claro-blanco.png">
              </a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="derecha">
              <a href="http://asistencia.claro.com.pe/">
                <i class="fa fa-search"></i>
              </a>
              <a href="https://www.miclaro.com.pe/">
                <i class="fa fa-user"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- #endregion -->


    <!-- #region primer nivel menu-->

    <div class="contenido-menu">
      <a href="#" class="ir-izquierda" menu="servicios">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Servicios</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="soluciones">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Soluciones</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="cloud">
        <div class="boton-primer">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Cloud</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="ir-izquierda" menu="principal">
        <div class="boton-segundo segundo">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 texto">
                <span>Negocios</span>
              </div>
              <div class="col-xs-2 derecha">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- #endregion -->


    <!-- #region segundo nivel menu-->

    <div class="segundo-nivel">

      <div class="segundo-menu servicios">
        <a href="#" class="regresar-derecha" menu="servicios">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Servicios</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="movil">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Servicios móviles</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="fijo">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Servicios fijos</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="segundo-menu soluciones">
        <a href="#" class="regresar-derecha" menu="soluciones">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Soluciones</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="smovil">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Soluciones móviles</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="segundo-menu cloud">
        <a href="#" class="regresar-derecha" menu="cloud">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Cloud</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="colaboracion">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Colaboración</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="ir-tercero" menu="seguridad">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Seguridad</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/presencia-web/presencia-web/E66" menu="presencia">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Presencia web</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/infraestructura/servidores_virtuales/" menu="infraestructura">
          <div class="boton-segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Infraestructura</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="segundo-menu principal">
        <a href="#" class="regresar-derecha" menu="principal">
          <div class="boton-segundo segundo">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto">
                  <span>Negocios</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/">
          <div class="boton-segundo primero">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Personas</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/empresas">
          <div class="boton-segundo tercero">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Empresas</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- #endregion -->


    <!-- #region tercer nivel-->
    <div class="tercer-nivel">

      <!-- #region servicios-->
      <div class="tercer-menu movil">
        <a href="#" class="regresar-tercero" menu="servicios">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Servicios móviles</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/movil/telefonia-movil/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Telefonía móvil</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/movil/internet-movil/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Internet móvil</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/movil/recargas/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Recarga</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://roaming.claro.com.pe/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Roaming</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/portabilidad/?tab=portabilidadmovil">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Portabilidad</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/movil/promociones/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Promociones</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu fijo">
        <a href="#" class="regresar-tercero" menu="servicios">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Servicios fijos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/fijos/telefonia-fija/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Telefonía fija</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/fijos/internet-fijo/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Internet fijo</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/fijos/claro-tv/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Televisión</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/paquetizados/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Paquetizados</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/personas/portabilidad/?tab=portabilidadfija">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Portabilidad</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/negocios/fijos/promociones/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Promociones</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- #endregion -->


      <!-- #region soluciones-->
      <div class="tercer-menu smovil">
        <a href="#" class="regresar-tercero" menu="soluciones">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Soluciones móviles</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/e-contact/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Directorio móvil (eContact)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/monitoreo-de-personal/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Monitoreo de personal (eTrack)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/esecurity/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Seguridad privada (eSecurity)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/automatizacion-fuerza-ventas/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Automatización de FFVV (eSales)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="/wps/portal/pe/empresas/soluciones-moviles/e-task/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Gestión de tareas (eTask)</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- #endregion -->


      <!-- #region cloud-->

      <div class="tercer-menu colaboracion">
        <a href="#" class="regresar-tercero" menu="cloud">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Colaboración</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/colaboracion/office-365/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Office 365</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/colaboracion/correo-empresas/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Correo empresas</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/colaboracion/conferencia-web-negocio/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Conferencia web</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="tercer-menu seguridad">
        <a href="#" class="regresar-tercero" menu="cloud">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 izquierda">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div class="col-xs-8 texto principal">
                  <span>Seguridad</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/seguridad/respaldo-en-linea/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Respaldo en línea</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
        <a href="http://www.clarocloud.com.pe/portal/pe/cld/seguridad/seguridad-negocios/">
          <div class="boton-tercer">
            <div class="container">
              <div class="row">
                <div class="col-xs-1 izquierda">

                </div>
                <div class="col-xs-10 texto">
                  <span>Seguridad empresas</span>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- #endregion -->

    </div>
    <!-- #endregion -->


  </div>
</div>